<h3>代理商列表</h3>

<div ng-controller="LmAgentList" class="container-fluid pretreat">
   <div class="panel" ng-include="'app/views/common/query_two.html'"></div>
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="table-responsive">
               <table id="datatable4" class="table table-striped">
                  <thead>
                     <th style="width:10%">手机号码</th>      
                     <th style="width:10%">代理等级</th>                                    
                     <th style="width:10%">分润率(%)</th>
                     <th style="width:10%">添加时间</th>
                     <th style="width:10%">更新时间</th>
                     <th style="width:10%">操作</th>                
                  </thead>
                  <tbody></tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <script type="text/ng-template" id="modalDialogId">
      <div class="ngdialog-message">
         <p class="bold font_20 " >您是否确定{{cancelOneGrade}}</p>
          <button type="button" ng-click="closeThisDialog('cancel')" class="btn btn-default  mr">取消</button>
         <button type="button" ng-click="confirm('confirm')" class="btn btn-primary">确认</button>
        
      </div>
   </script>
</div>