<ul class="clearFloat color_666 query" >
   <!-- 日历插件 -->

   <li class="float_left" ng-if="queryData.oneData">
      <span>{{queryData.oneData}}</span>
      <input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="queryData.twoData">
      <span>{{queryData.twoData}}</span>
      <input type="text" class="ant-input">
   </li>

   <li class="float_left">
      <span>状态：</span>
      <select class="ant-input" style="width:100px">
         <option>全部</option>
         <option>启用</option>
         <option>禁用</option>
      </select>
   </li>
   
   <li class="float_left">
      <button class="btn btn-default btn-info" >查询</button>
   </li>
   <li class="float_left">
      <button class="btn btn-default" >重置</button>
   </li>
</ul>