<ul class="clearFloat color_666 query" >
   <li class="float_left" ng-if="themeData.channelCode">
      <span class="mar-right-10">{{themeData.channelCode}}</span><input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="themeData.contacts">
      <span class="mar-right-10">{{themeData.contacts}}</span><input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="themeData.channelName">
      <span class="mar-right-10">{{themeData.channelName}}</span><input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="themeData.contactType">
      <span class="mar-right-10">{{themeData.contactType}}</span><input type="text" class="ant-input">
   </li>
   <li class="float_left">
      <button class="btn btn-default btn-info">查询</button>
   </li>
   <li class="float_left">
      <button class="btn btn-default" >重置</button>
   </li>
</ul>