<ul class="clearFloat color_666 query" >
   <li class="float_left">
      <span class="mar-right-10">渠道编码:</span><input type="text" class="ant-input">
   </li>
   <li class="float_left">
      <span class="mar-right-10">联系人姓名:</span><input type="text" class="ant-input">
   </li>
   <li class="float_left">
      <span class="mar-right-10">渠道名称:</span><input type="text" class="ant-input">
   </li>
   <li class="float_left">
      <span class="mar-right-10">联系方式:</span><input type="text" class="ant-input">
   </li>
   <li class="float_left">
      <button class="btn btn-default btn-info" >查询</button>
   </li>
   <li class="float_left">
      <button class="btn btn-default" >重置</button>
   </li>
</ul>