<ul class="clearFloat color_666 query" >
   <li class="float_left">
      <span>任务名:</span>
      <select class="ant-input" style="width:250px">
         <option>全部</option>
         <option>计算逾期任务</option>
         <option>还款日当日扣款还款</option>
         <option>逾期1日至7日定时扣款</option>
         <option>逾期7天以上15天以内定时扣款</option>
         <option>逾期15天以上30天以内定时扣款</option>
      </select>
   </li>
   <li class="float_left">
      <span>状态：</span>
      <select class="ant-input" style="width:200px">
         <option>全部</option>
         <option>启用</option>
         <option>禁用</option>
      </select>
   </li>
   <li class="float_left">
      <button class="btn btn-default btn-info" >查询</button>
   </li>
   <li class="float_left">
      <button class="btn btn-default" >重置</button>
   </li>
</ul>