<ul class="clearFloat color_666 query" >
   

   <li class="float_left" ng-if="queryData.oneData">
      <span>{{queryData.oneData}}</span>
      <input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="queryData.twoData">
      <span>{{queryData.twoData}}</span>
      <input type="text" class="ant-input">
   </li>
   <li class="float_left" ng-if="queryData.threeData">
      <span>{{queryData.threeData}}</span>
      <input type="text" class="ant-input">
   </li>

   <li class="float_left" ng-if="queryData.selectOne">
      <span>{{queryData.selectOne.text}}</span>
      <select class="ant-input" style="width:120px">
         <option ng-repeat="v in queryData.selectOne.opinions">{{v.opt}}</option>
      </select>
   </li>
   <li class="float_left" ng-if="queryData.selectTwo">
      <span>{{queryData.selectTwo.text}}</span>
      <select class="ant-input" style="width:120px">
         <option ng-repeat="v in queryData.selectTwo.opinions">{{v.opt}}</option>
      </select>
   </li>
   <li class="float_left" ng-if="queryData.selectThree">
      <span>{{queryData.selectThree.text}}</span>
      <select class="ant-input" style="width:120px">
         <option ng-repeat="v in queryData.selectThree.opinions">{{v.opt}}</option>
      </select>
   </li>
   <li class="float_left" ng-if="queryData.selectFour">
      <span>{{queryData.selectFour.text}}</span>
      <select class="ant-input" style="width:120px">
         <option ng-repeat="v in queryData.selectFour.opinions">{{v.opt}}</option>
      </select>
   </li>
   <li class="float_left" ng-if="queryData.selectFive">
      <span>{{queryData.selectFive.text}}</span>
      <select class="ant-input" style="width:120px">
         <option ng-repeat="v in queryData.selectFive.opinions">{{v.opt}}</option>
      </select>
   </li>
   <li class="float_left" ng-if="queryData.selectSix">
      <span>{{queryData.selectSix.text}}</span>
      <select class="ant-input" style="width:160px">
         <option ng-repeat="v in queryData.selectSix.opinions">{{v.opt}}</option>
      </select>
   </li>

   <!-- 日历插件 start-->
   <li class="float_left" ng-controller="queryController" ng-if="queryData.calendar">
      <span>{{queryData.calendar}}</span>
      <div style="width:400px;display:inline-block;vertical-align: middle;">
         <div class="input-group">
            <input type="text" datepicker-popup="{{format}}" ng-model="dt1" is-open="openedStart" popup-placement="auto bottom-right"
               datepicker-options="dateOptions" class="ant-input form-control" ng-click="openStart($event)" placeholder="开始日期" style="width:50%" /> 
            
             <input type="text" datepicker-popup="{{format}}" ng-model="dt2" is-open="openedEnd" 
               datepicker-options="dateOptions" class="ant-input form-control" ng-click="openEnd($event)" placeholder="结束日期" style="width:50%"/> 

               <span class="input-group-btn">
                  <button type="button" ng-click="open($event)" class="btn btn-default">
                     <em class="fa fa-calendar"></em>
                  </button>
               </span>     
         </div>
      </div>
   </li>
   <!-- 日历插件 end-->

   <li class="float_left" ng-if="queryData.state">
      <span>状态：</span>
      <select class="ant-input" style="width:120px">
         <option>全部</option>
         <option>启用</option>
         <option>禁用</option>
      </select>
   </li>
   <li class="float_left" ng-if="url" >
      <span>角色：</span>
      <select class="ant-input" style="width:120px">
         <option selected></option>
         <option>系统管理员</option>
         <option>财务人员</option>
         <option>代理商</option>
         <option>运营人员</option>
         <option>催收管理员</option>
         <option>催收专员</option>
         <option>客服人员</option>
         <option>风控人员</option>
         <option>委外催收管理员</option>
      </select>
   </li>

   <li class="float_left">
      <button class="btn btn-default btn-info mar-right-10" >查询</button><button class="btn btn-default" >重置</button>
   </li>
</ul>